[Unit]
Description=Kids phone www console
Wants=network-online.target
After=network-online.target syslog.target

[Service]
Type=simple
User=kids_phone_www
Group=kids_phone
WorkingDirectory=/var/www/kids_phone_conf
ExecStart=/usr/bin/gunicorn3 --access-logfile=- -b localhost:8000 kids_phone_conf.wsgi
Environment=PROD=prod
Environment=KIDS_PHONE_SOCKET=/var/run/kids_phone/kids_phone.socket
SyslogIdentifier=kids_phone_www
StandardOutput=syslog
StandardError=syslog
Restart=no

[Install]
WantedBy=multi-user.target