{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
{% for key_and_number in key_and_number_list %}
    <label for="key{{ key_and_number.key }}">{{ key_and_number.key }}</label>
    <input type="text" name="key{{ key_and_number.key }}" value="{{ key_and_number.phonenumber }}" />
    <br />
{% endfor %}
<input type="submit" value="Save phonenumbers" />
</form>
{% csrf_token %}
{% for caller_number_allowed in caller_number_allowed_list %}
    {{ caller_number_allowed.phonenumber }} 
    <form action="" method="post">
        {% csrf_token %}
    <input type="hidden" name="delete" value="{{ caller_number_allowed.phonenumber }}" />
    <input type="submit" value="delete" /></form><br />
{% endfor %}
<form action="" method="post">
{% csrf_token %}
<input type="text" name="add_phonenumber" />
<input type="submit" value="Add" />
</form>
<form action="" method="post">
{% csrf_token %}
<label for="sip_username">SIP username</label>
<input type="text" name="sip_username" placeholder="username" value="{{ sip_username }}"/><br />
<label for="sip_password">SIP password</label>
<input type="password" name="sip_password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"/><br />
<label for="sip_realm">SIP realm</label>
<input type="text" name="sip_realm" placeholder="sipgate.com" value="{{ sip_realm }}"/><br />
<label for="sip_proxy">SIP proxy</label>
<input type="text" name="sip_proxy" placeholder="sipgate.com" value="{{ sip_proxy }}"/><br />
<input type="submit" value="Save SIP settings" />
</form>